body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

h1 {
    color: #FFCC00; /* Цвет, ассоциируемый с Гарри Поттером */
}

#search {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

.character {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
}

.character img {
    max-width: 100px;
    margin-right: 10px;
    vertical-align: top;
}

